name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v31.6.0
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - run: nix develop -L --command sh -c 'gleam deps download'
      - run: nix develop -L --command sh -c 'gleam test'
      - run: nix develop -L --command sh -c 'gleam format --check src test'
